.App {
  text-align: center;
}
.winner {
  background: #ff008c;
  font-family: "Arial Black";
  font-size-adjust: initial;
  font-size: large;
  margin: 0 100px 30px 50px;
}
.headerS {
  background: #ff008c;
  font-family: "Arial Black";
  font-size-adjust: initial;
  font-size: large;
  margin: 0 100px 30px 50px;
}
.view {
  background: #8fb6b6;
  font-family: "Arial Black";
  font-size-adjust: initial;
  font-size: large;
  border-radius: 20px;
  box-shadow: 5px 30px 20px 10px #ff008c;
  margin: 10px 30px 10px 30px;
}